name: Build iOSStrap Dylib

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Xcode
        uses: apple-actions/setup-xcode@v1
        with:
          xcode-version: 'latest'

      - name: Compile 10k Engine
        run: |
          xcrun -sdk iphoneos clang++ -dynamiclib -arch arm64 \
          -fobjc-arc -O0 \
          -Xlinker -all_load \
          -miphoneos-version-min=14.0 \
          iOSStrap.mm -o iOSStrap.dylib \
          -framework UIKit \
          -framework Foundation \
          -framework AudioToolbox \
          -framework QuartzCore

      - name: Upload Dylib
        uses: actions/upload-artifact@v4
        with:
          name: iOSStrap-Dylib
          path: iOSStrap.dylib
